@font-face {
    font-family: 'customFont';
    src: url("../src/sass/fonts/customFont.woff") format('woff');
}

body {
  background-color: #333333;
}

#logo a{
  margin-top: 1cm;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #F9C75E;
  text-shadow: 3px 3px black;
  font-family: customFont;
  font-size: 65px;
  font-weight: bold;
}
