.movie-list {
  overflow-y: scroll;
  background-color: darken($genre-list-bg, 8%);
  color: white;
}

.movie-list {
  .movie {
    margin-bottom: 16px;
    position: relative;
    cursor: pointer;
  }
}

.movie {
  .movie-poster > img {
    width: 100%;
    height: auto;
    border: none;
    display: block;
  }
  .movie-info {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.25s ease-in;
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    .title,
    .year,
    .rating {
      padding: 20px 40px 20px 20px;
      position: absolute;
      left: 0;
      right: 0;
    }
    .title {
      top: 0;
      font-size: 18px;
    }
    .year {
      bottom: 24px;
    }
    .rating {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
      font-size: 0;
      height: 21px;
      line-height: 0;
      overflow: hidden;
      text-indent: -999em;
      width: 110px;
      padding: 0;
      bottom: 20px;
      left: 20px;

      &-stars {
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
        background-position: 0 100%;
        float: left;
        height: 21px;
        display:block;
      }
    }
  }
  &:hover > .movie-info {
    opacity: 1;
    border: 1px #446CB3 solid;
  }
}
