*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  height: 100%;
  line-height: 1.4;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  overflow: hidden; }

#wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }
  #wrapper .genre-list,
  #wrapper .movie-list {
    position: absolute;
    padding-top: 20px;
    left: 0;
    top: 0;
    bottom: 0; }
  #wrapper .genre-list {
    width: 240px; }
  #wrapper .movie-list {
    padding-left: 20px;
    padding-right: 20px;
    left: 240px;
    right: 0; }

.movie-list {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #1c1c1c;
  /*background-color: #96281B;*/
  color: white; }

.movie-list .movie {
  padding: 8px;
  flex: 0 1 200px;
  position: relative;
  cursor: pointer; }

.movie .movie-poster > img {
  width: 100%;
  height: auto;
  border: none;
  display: block; }

.movie .movie-info {
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.25s ease-in;
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  bottom: 0; }
  .movie .movie-info .title,
  .movie .movie-info .year,
  .movie .movie-info .rating {
    padding: 20px 40px 20px 20px;
    left: 0;
    right: 0;
    position: absolute; }
  .movie .movie-info .title {
    top: 0;
    font-size: 18px; }
  .movie .movie-info .year {
    bottom: 61px; }
  .movie .movie-info .rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    padding: 0;
    bottom: 40px;
    left: 20px; }
    .movie .movie-info .rating-stars {
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
      background-position: 0 100%;
      float: left;
      height: 21px;
      display: block; }

.movie:hover > .movie-info {
  opacity: 1; }

@media screen and (max-width: 990px) and (min-width: 767px) {
  .movie {
    flex: 0 1 154px; } }

.genre-list {
  background-color: #262626;
  /*background-color: #96281B;*/
  box-shadow: -2px 0 10px 2px #171717 inset;
  border-right: 1px #000 solid;
  z-index: 99; }
  .genre-list .search {
    padding: 20px;
    width: 100%; }
    .genre-list .search .search-input {
      width: 100%;
      padding: 8px 16px;
      display: block;
      outline: none;
      border: 1px #888 solid;
      border-radius: 4px;
      font-size: 13px; }
  .genre-list .genres {
    list-style: none; }

.genres li a {
  padding: 6px 24px;
  display: block;
  text-decoration: none;
  color: white; }
  .genres li a:hover {
    background-color: #D73C2C; }
